.container {
width: 75%;
margin-left: auto;
margin-right: auto;
}


body {
  color: steelblue;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5;
  /*color: #333;*/
  font-weight: 300;
  padding-top: 0px;
  margin-top: 0px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}


a:link, a:visited {
  background-color: steelblue;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}

a:hover, a:active {
  background-color: lightsteelblue;
  color: steelblue;
}

.button {
  background-color: steelblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.boxshadow {
  border: 1px solid;
  padding: 2px;
  box-shadow: 1px 2px 1px 2px #888888;
}
